.content-heading{
    margin-bottom:10px;
}

.main-content-heading{
    padding:0 30px;
}

.content-wrap{
    padding-left:20px;
}

.inline-it{
    display: inline-block !important;
}

.liked{
    color:red;
}

.dp img{
	max-width: 250px;
 max-height: 250px;
}
.threadDisplay {
    display: block;
    font-size: 20px;
}
.threadUserName {
 float: right;
}
.singleThreadName {
    float: right; 
}
.replyName {
    float: right;  
}
.commentName {
    float: right;  
}
.avatar {
    vertical-align: baseline;
  }
.user-image {
    vertical-align: baseline;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50%;
  }
  .user-image-profile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
.button-add {
    border-bottom: 1px solid rgb(189, 186, 186);
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.thread-list-container {
    margin: 25px;
}
.or-seperators {
	margin: 30px 0 15px;
	text-align: center;
    border-top: 1px solid black;
    padding: 0 10px;
}
.thread-body {
    margin: 0px 30px 10px 30px;
    font-size: 14px;
}
.user-name {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
}
.logo-brand {
    margin-top: 15px;
}
.panel-username {
    clear: both;
    display: inline-block;
    overflow: hidden;
    margin-left: 5px;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 20px;
    margin-top: 10px;
}
.thread-header {
    margin-top: 0px 20px 0px 20px;

}
.tags-thread {
    clear: both;
    display: inline-block;
    overflow: hidden;
    margin-left: 15px;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 15px; 
}
.thread-title {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 25px; 
}
.user-single-image {
    vertical-align: baseline;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user-image-comment{
    vertical-align: baseline;
    width:70px;
    height: 70px;
    border-radius: 50%;
}
.thread-details{
    margin: 0px 30px 0px 50px;
    font-size: 25px;
}
.thread-footer {
    margin-top: 40px;

}
/* modal */
.row-header {
    border: 1px solid;
    border-radius: 5px;
    border-bottom: 0;
    padding: 10px;
    width:120px

}
.row-body{
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    width:120px
}
.award-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    position: relative;
    margin: 0 auto;
    top: 15%
}
.modal-overall{
    max-width: 80%;
}
.question-title{
    font-size: 35px;
    margin: 7px 0 3 10px;
    vertical-align: baseline;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.q-title{
    font-size: 35px;
    font-weight: bolder;
    vertical-align: baseline;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.header-well {
    margin-bottom: 30px;
}